{% extends 'index.html' %}

{% block content %}

<h1>Registro del Empleado</h1>
<form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-md-">
        <label for="inputState" class="form-label">Ciudad</label>
        <select id="inputState" class="form-select">
          <option selected>LIMA</option>
          <option selected>AREQUIPA</option>
          <option selected>JULIACA</option>
          <option selected>CUSCO</option>
          <option selected>ICA</option>
          <option selected>TACNA</option>
          <option selected>Elegir..</option>
          <option>...</option>
        </select>
      </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Sede</label>
      <select id="inputState" class="form-select">
        <option selected>Metro la Marina</option>
        <option selected>Metro Independencia</option>
        <option selected>Metro Jesus Maria</option>
        <option selected>Metro Arequipa</option>
        <option selected>Elegir..</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Anexo</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>


{% endblock %}